h1, h2{
    color:rgb(181, 160, 7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
 }

 p{
     color:rgb(236, 37, 177);
     font-family: Arial, Helvetica, sans-serif;
     font-size: 24px;
 }